* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color:  rgb(5, 5, 5);
  background-color: rgb(203, 178, 214)
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem;
  gap: 1rem;
  border-bottom: solid 1px white;
  background-color: black;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  margin-top: 3rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px white;
  text-align: center;
  text-decoration: none;
  color: white;
}

nav a[aria-current='page'] {
  color: white;
  background-color: #d4d4d4;
  font-style: normal ;
}


main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  color: black;
}
p{
  font-size: 1rem;
  font-family:'Times New Roman', Times, serif ;
  color: rgb(26, 66, 26);
}